{% extends "personal/header.html" %}

{% block content %}

<div class="jumbotron">
    <h3>Statistics Diagrams</h3>
    <p class="lead"> The following data can be used for a performance comprasion between power coefficient and tip speed ratio from an aerodynamic point of view.
    For further detais please see the Theory Section. They were written with Fortran 3.12 and utilized a Simpson's Rule/three pass method of numerical integration.
    I'm just using them for the future works.[Quelle:Wilson, R. E.; Lissaman, P.B. S.:Applied Aerodynamics of Wind PowerMachines, Oregon State University, 1974].</p>
    <p><a href="https://github.com/canozgurparlak/statistic-diagram.git/" class="btn btn-primary btn-large">Get .mat data &raquo;</a></p>
</div>

{% endblock %}