{% extends "personal/header.html" %}

{% block content %}



<h2 id="motivation-und-hintergrund">Motivation und Hintergrund</h2>
<p>Es ist eine wohlbekannte Tatsache, dass die Welt vor Klimaveränderung bedroht ist und wir brauchen auch die Energie für unseren gewohnten Lebensstandard. Die Autoren neuerer Studien haben einen weiteren Anstieg des Energieverbrauchs festgestellt.</p>
<p> <img src="https://vspavq-am3pap001.files.1drv.com/y4mX9C6ghRHXx7rByYRagXjQkW9mHW-j67y2wV_UTkDBNxIIu3jmGdnWyCBtiY0cH5No0-BqHov5uOKdMrzCcKAXB8IuG2G0vssDM6aqCFSF5KQ5rhCwekzmnkzT5t5XWdnCDlbbcdQ-lGTZ9vs_inP4DnwizeBdfZ6t2RUddZW9z2lD0YK7rm5Zp7YdimVG_SvZhVsoCXRcuHXkmTl49RJ_Q?width=350&height=350&cropmode=none" align="left">
Die Form der Abbildung <a href="http://cdn.exxonmobil.com/~/media/global/files/outlook-for-energy/2017/2017-outlook-for-energy.pdf" reference-type="ref" reference="Quelle:ExxonMobil">[Quelle:ExxonMobil]</a> veranschaulicht, dass in den nächsten 25 Jahren die Welt mehr Energie braucht.
Im Jahr 2016 betrug der Primärenergieverbrauch Deutschland 13 427 Peta-Joule. Damit hat jede(r) Deutsche im Jahr 2016 durchschnittlich 45,1 MWh Primärenergie verbraucht <a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a>.
Dies entspricht dem Energiegehalt von 4t Heizöl.
Diese Energie reicht aus, mit einem Auto bei einem Verbrauch von etwa 7 Litern auf 100 km die Erde am Äquator 1,5 mal zu umrunden <a href="#fn2" class="footnote-ref" id="fnref2"><sup>2</sup></a>.
Um die Klimaveränderung zu stabilisieren wird in den letzten Jahren den Schwerpunkt auf der Energiegewinnung aus erneuerbaren Quellen zu setzen.
Die Bundesregierung der Meinung ist klimaverträgliche Energiepolitik ist ein zentrales Thema.</p>
<p>Dafür unterstützt die Energiegewinnung aus erneuerbaren Quellen, wie z.B. Wind, Sonnen- und Wasserkraft. Mitte der 90er Jahre führten WEA zum Durchbruch dieser Technologie im Bereich der erneuerbaren Energien.
Im europäischen Raum wurden nach Angaben des GWEC 161 330 MW installiert.</p>

<p>Abbildung2 <a href="http://gwec.net/global-figures/graphs/" reference-type="ref" reference="Quelle:GWEC">[Quelle:GWEC]</a> stellt die neue installierte Leistung in die Länder der Welt dar, wie z.B. Deutschland mit 5 443 MW an dritter Stelle ist. Darüber hinaus ist eine UN-Studie des Ergebnisses, dass die Entwicklungsländer zum ersten Mal mehr Geld in die globale Energiewende als die Industriestaaten investieren.
Estmalig in 2015 haben die Länder, die China, India, Türkei und auch rückten Marokko, Uruguay, Mexiko, Chile sind, 13-Milliarden Dollar für Investitionen im Sektor Erneuerbare Energien zur Verfügung gestellt. Im Rahmen der Klima- und Energiepolitik der EU werden die verschiedenen Entwicklungsländer finanziert und auch den Technologietransfer von deutschen Unternehmen voranzutreiben.</p>

<br><img src="https://vipavq-am3pap001.files.1drv.com/y4mjF83kay4L3fn4WmiTbRsmlHKk0ITNy0Iau4M3k8gu3ybTe0pZD7U5M-qCqPio0hx8mGb66pbAYg2_hPgW3DAgxWXyZ65cj1SLmN0awEnzkCnU-27pBLsIDy_z6vjOqjt47hfTkvHC0M_R_7LtA65P7ywcbC6Yg65iIFrLDcksT_EsdJFVAQGXCK4aOjkbJ4UZNSKT4UTziG1SYoE2iDkDg?width=660&height=380&cropmode=none"><br>

<br><img src="https://upqnxw-am3pap001.files.1drv.com/y4mhyCPklXkvtps5nkgO94DorvuhQUivcY2jbV6uwq8OmbUGW_fbY6iZkzgSGJqUaERNYdYZ6Qvgp4q5agEMNeNumQh3M8bBgbD84BaBoqaMYIg-qepjHu-5-vANiN0PgI5ZqHuXLmTjBkpF4SlV9ZlPsUj8l0gsTbB0Hz3MP2uNG9QX3_K4YpPqX3r4-C7-cQZ5VwRwyaMeAgVzWFYi-4FOQ?width=660&height=442&cropmode=none">
<p>Steinkohlekraftwerk Rostock. 42 kg Kohle pro Sekunde. d.h. gleichzeitig 154 kg/s CO2 Ausstoss. (für jedes Kilogramm Kohle, das verbrannt wird, entstehen rund 3.5 Kilogramm CO2). Wir verbrennen unseren Planeten und ersticken an den Abgasen.</p>


<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p> Bevölkerung Deutschland 2016: 82,67 Millionen<a href='/' class="footnote-back">↩</a></p></li>
<li id="fn2"><p> Zur Umrechnung: 1 Wh = 3 600 J, 1 toe = 41 868 MJ = 11,6 MWh<a href='/' class="footnote-back">↩</a></p></li>
</ol>
</div>


{% endblock %}